@import "../vars";
.mbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.mbtn-primary {
    background-color: $primary;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    padding: 0 42px;
    &:hover {
        color: #fff;
        background-color: darken($primary, 5%);
    }
}

.mbtn-gray {
    border: 1px solid #DCDCDC;
    color: $black;
    &:hover {
        border-color: $black;
        background-color: $black;
        color: #fff;
    }
}

.arrow-btn,
.arrow-btn2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    svg,
    img {
        margin-left: 12px;
        transition: all .225s;
        width: 30px;
        height: auto;
    }
    &:hover {
        img,
        svg {
            transform: translateX(10px);
        }
    }
}

.arrow-btn2 {
    svg,
    img {
        margin: 0 12px 0 0;
    }
    &:hover {
        img,
        svg {
            transform: translateX(-10px);
        }
    }
}

@media screen and (max-width: 992px) {
    .mbtn-primary {
        height: 52px;
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    .arrow-btn,
    .arrow-btn2 {
        font-size: 13px;
        svg,
        img {
            width: 20px;
            height: auto;
        }
    }
}