@import "../vars.scss";
.breadcrumbs {
    &__item {
        font-size: 16px;
        line-height: 175%;
        position: relative;
        display: inline;
        transition: all .225s;
        &:not(:first-child) {
            margin-left: 20px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 1px;
                height: 16px;
                background-color: $primary;
                top: 4px;
                right: 100%;
                margin-right: 9.5px;
                background-color: $black;
            }
        }
        &:last-child {
            color: #777;
            &:before {
                background: #777;
            }
        }
    }
}