@import "../vars.scss";
.breadcrumbs {
    &__item {
        font-size: 16px;
        line-height: 175%;
        position: relative;
        display: inline;
        transition: all .225s;
        &:not(:first-child) {
            margin-left: 20px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 1px;
                height: 16px;
                background-color: $primary;
                top: 4px;
                right: 100%;
                margin-right: 9.5px;
                background-color: $black;
            }
        }
        &:last-child {
            color: #777;
            &:before {
                background: #777;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .breadcrumbs{
        white-space: nowrap;
        overflow-x: auto;
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 0 20px;
        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
    }
}

@media screen and (max-width: 576px){
    .breadcrumbs{
        &__item{
            font-size: 12px;
            &:not(:first-child){
                margin-left: 16px;
                &::before{
                    height: 12px;
                    top: 2px;
                }
            }
        }
    }
}

@media screen and (max-width: 380px){
    .breadcrumbs{
        width: calc(100% + 24px);
        margin-left: -12px;
        padding: 0 12px;
    }
}
