@import "../vars.scss";
.contacts {
    padding: 30px 0 40px;
    &__inner {
        padding-bottom: 90px;
        border-bottom: 1px solid rgba($black, .15)
    }
    &__title {
        margin-top: 8px;
    }
    &__items {
        margin-top: 33px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
    }
    &__address {
        margin-top: 15px;
    }
    &__phone {
        display: block;
        font-weight: 700;
    }
    &__mail {
        a {
            color: $primary;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__info {
        &-item {
            margin-top: 20px;
        }
        &-title {
            font-weight: 700;
        }
        &-desc {
            span {
                color: $primary;
            }
        }
        &-link {
            color: $primary;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.map {
    height: 490px;
    margin-top: 40px;
    display: none;
    &--active{
        display: block;
    }
}

.contacts-tab{
    &:hover{
        cursor: pointer;
        color: $primary;
    }
    &.orange-text{
        pointer-events: none;
    }
}

@media screen and (max-width: 1150px){
    .contacts{
        &__items{
            gap: 30px;
        }
    }
}

@media screen and (max-width: 992px){
    .contacts{
        &__items{
            margin-top: 20px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 768px){
    .contacts{
        &__items{
            grid-template-columns: 1fr;
        }
    }
    .map{
        height: 400px;
    }
}

@media screen and (max-width: 576px){
    .contacts{
        padding: 0 0 25px;
        &__inner{
            border: none;
            padding: 0;
        }
    }
}
