@import "../vars.scss";
.consult {
    padding: 30px 0 40px;
    &__title {
        margin-top: 8px;
    }
    &__desc {
        margin-top: 40px;
        max-width: 1010px;
        font-weight: 500;
    }
}

.expert {
    margin-top: 40px;
    padding: 73px 0 84px;
    background: #F4F4F4;
    &__title {
        text-align: center;
    }
    &__inner {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
    &__num {
        color: $primary;
    }
    &__desc {
        margin-top: 20px;
    }
}

.resume {
    &--expert {
        .resume {
            &__title {
                margin-top: 30px;
            }
            &__desc {
                margin-top: 17px;
                max-width: 327px;
            }
        }
    }
}


@media screen and (max-width: 1150px){
    .expert{
        &__inner{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 35px;
        }
    }
}

@media screen and (max-width: 992px){
    .consult{
        &__desc{
            margin-top: 22px;
        }
        .desc{
            margin-top: 35px;
        }
    }

    .expert{
        padding: 30px 0 40px;
        &__inner{
            grid-template-columns: 1fr 1fr;
            gap: 35px 20px;
        }
    }
}

@media screen and (max-width: 768px){
    .resume{
        &--expert{
            .resume{
                &__inner{
                    gap: 33px;
                }
                &__right{
                    order: 2;
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .consult{
        padding: 0 0 20px;
    }

    .expert{
        margin-top: 20px;
        &__inner{
            grid-template-columns: 1fr;
            margin-top: 20px;
        }
        &__title{
            text-align: left;
        }
        &__desc{
            margin-top: 15px;
        }
    }

    .resume {
        &--expert {
            padding-top: 40px;
            .resume {
                &__title {
                    margin-top: 20px;
                }
                &__desc {
                    margin-top: 10px;
                }
            }
        }
    }
}
