@import "../vars.scss";
.consult {
    padding: 30px 0 40px;
    &__title {
        margin-top: 8px;
    }
    &__desc {
        margin-top: 40px;
        max-width: 1010px;
        font-weight: 500;
    }
}

.expert {
    margin-top: 40px;
    padding: 73px 0 84px;
    background: #F4F4F4;
    &__title {
        text-align: center;
    }
    &__inner {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
    &__num {
        color: $primary;
    }
    &__desc {
        margin-top: 20px;
    }
}

.resume {
    &--expert {
        .resume {
            &__title {
                margin-top: 30px;
            }
            &__desc {
                margin-top: 17px;
                max-width: 327px;
            }
        }
    }
}