@import "../vars.scss";
.news {
    padding: 30px 0 40px;
    &__inner {
        padding-bottom: 60px;
        border-bottom: 1px solid rgba($black, .15)
    }
    &__title {
        margin-top: 8px;
    }
    &__items {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px 40px;
    }
}