@import "../vars.scss";
.project-info {
    display: grid;
    grid-template-columns: 51.8% 48.2%;
    min-height: 300px;
    &__left {
        border-right: 1px solid rgba($gray, .6);
        padding: 40px 72px 52px 65px;
    }
    &__right {
        display: flex;
        align-items: center;
        padding: 40px 65px;
    }
    &__props {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    &__prop {
        &-title {
            color: $primary;
            font-size: 38px;
            span {
                font-size: 22px;
            }
        }
        &-desc {
            font-size: 16px;
            line-height: 150%;
            font-weight: 500;
        }
    }
    &__items {
        margin-top: 30px;
    }
    &__item {
        font-size: 16px;
        line-height: 162.5%;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        span {
            font-weight: 700;
        }
    }
    &__desc {
        font-style: italic;
    }
}

.project-desc {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 70px;
    &__left {
        padding: 80px 52px 80px 65px;
        background-color: $black;
        color: #fff;
        display: flex;
        align-items: center;
    }
    &__right {
        .video {
            height: 100%;
            margin: 0;
        }
    }
}

.specific {
    padding: 26px 0;
    &__items {
        margin-top: 26px;
        column-count: 2;
        column-gap: 76px;
      li{
        display: inline-flex;
      }
    }
}

.progress {
    padding: 26px 0;
    overflow: hidden;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__slider {
        margin-top: 54px;
        position: relative;
        .swiper {
            &-pagination {
                display: none;
            }
            &-container {
                width: 710px;
                max-width: 100%;
                margin: 0 auto;
            }
            &-slide {
                img {
                    width: 100%;
                    display: block;
                }
            }
            &-button {
                &-prev,
                &-next {
                    width: 43px;
                    height: 49px;
                    padding: 0;
                }
                &-prev {
                    left: -3px;
                }
                &-next {
                    right: -3px;
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .project-info {
        min-height: unset;
        &__left,
        &__right {
            padding: 30px 40px;
        }
    }

    .project-desc {
        &__left {
            padding: 35px 45px;
        }
    }
}

@media screen and (max-width: 992px) {
    .project-info {
        min-height: unset;
        &__left {
            padding: 26px 20px;
        }
        &__right {
            padding: 29px 20px;
        }
        &__prop {
            &-title {
                font-size: 26px;
                span {
                    font-size: 14px;
                }
            }
            &-desc {
                font-size: 13px;
            }
        }
        &__items {
            margin-top: 25px;
        }
        &__item {
            font-size: 13px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        &__desc {
            font-size: 13px;
        }
    }

    .project-desc {
        margin-top: 40px;
        &__left {
            padding: 33px 20px;
        }
        &__text {
            font-size: 13px;
        }
    }

    .specific {
        &__items {
            column-gap: 30px;
            margin-top: 15px;
        }
    }

    .progress {
        .swiper-container {
            width: 500px;
        }
    }
}

@media screen and (max-width: 768px) {
    .project-info {
        grid-template-columns: 1fr;
        &__left {
            border-right: none;
            border-bottom: 1px solid rgba(209, 209, 209, .6);
        }
    }

    .project-desc {
        grid-template-columns: 1fr;
    }

    .specific {
        &__items {
            column-count: 1;
        }
    }
}

@media screen and (max-width: 576px) {
    .specific {
        padding: 16px 0;
    }
    .progress {
        padding: 16px 0 54px;
        position: relative;
        &__link {
            width: 100%;
            font-size: 15px;
            font-weight: 500;
        }
        &__slider {
            margin-top: 40px;
            padding: 0 20px;
            .swiper {
                &-container {
                    width: 100%;
                    overflow: hidden;
                }
                &-button {
                    &-prev,
                    &-next {
                        display: none;
                    }
                }
                &-pagination {
                    display: flex;
                    &-bullet {
                        width: 4px;
                        height: 4px;
                        border-radius: 15px;
                        background: #fff;
                        &-active {
                            width: 12px;
                        }
                    }
                }
            }
        }
        &__all {
            &-projects {
                position: absolute;
                bottom: 16px;
                left: 20px;
            }
        }

    }
}

@media screen and (max-width: 380px) {
    .progress {
        &__link {
            left: 12px;
        }
        &__slider{
            padding: 0 10px;
        }
        &__all-projects{
            left: 10px;
        }
    }
}
