<div class="bio-card__show slideToggle-block__show">
    <div class="bio-card__title display4 orange-text">@@title</div>
    <button class="bio-card__btn mbtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32.24" height="17.24" viewBox="0 0 32.24 17.24">
            <g transform="translate(2.12 15.12) rotate(-90)">
              <path d="M0,13.93,13,0" fill="none" stroke="#888888" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="3" fill-rule="evenodd"/>
              <path d="M0,0,13,13.93" transform="translate(0 14.07)" fill="none" stroke="#888888" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="3" fill-rule="evenodd"/>
            </g>
        </svg>
    </button>
</div>

<div class="bio-card__hidden slideToggle-block__hidden">
    <div class="bio-card__wrap slideToggle-block__wrap body-text2">
        <p class="semi-bold">Реализация крупных российских и международных строительных проектов в качестве генерального подрядчика и управляющего строительством:</p>
        <ul class="mlist">
            <li>МФК <a href="">«Golden Gate»</a> , Москва. (47.015 м2);</li>
            <li>МФК <a href="">«Z TOWERS»</a>, Рига, Латвия (124.139 м2);</li>
            <li>Жилой Квартал <a href="">«Сколково Парк»</a> (112.375 м2);</li>
            <li>Отель 5* LUX <a href="">«NORTH MALE ATOLL»</a>, Maldives (16.850 м2);</li>
            <li>Деловой квартал класса А «Сколково парк» (212.000 м2);</li>
        </ul>
    </div>
</div>
