@import "vars";
.footer {
    padding: 35px 0 56px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 170px;
        img {
            width: 100%;
            display: block;
        }
    }
    &__info {
        margin-top: 35.4px;
    }
    &__phone {
        display: block;
        font-size: 22px;
        line-height: 136%;
        font-weight: 700;
    }
    &__mail,
    &__address {
        font-size: 16px;
        line-height: 187.5%;
        margin-top: 3.5px;
    }
    &__mail {
        margin: 0;
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
    &__links {
        display: grid;
        grid-template-columns: auto auto;
        gap: 28.5px 105px;
        @media screen and (max-width: 1100px) {
            gap: 28.5px 45px;
        }
    }
    &__link {
        font-size: 14px;
        font-weight: 500;
        &--active {
            font-weight: 700;
            color: $primary;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        margin-top: 50px;
        border-top: 1px solid rgba($black, .15);
    }
    &__by,
    &__copyright {
        font-size: 14px;
        line-height: 136%;
        a {
            color: $primary;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__search {
        width: 220px;
        margin-top: -13px;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 24px 0 33px;
        &__col {
            &:nth-child(3) {
                display: none;
            }
        }
        &__bottom {
            margin-top: 30px;
            padding-top: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__links {
            gap: 20px;
        }
        &__link {
            font-size: 12px;
        }
        &__phone {
            font-size: 18px;
        }
        &__mail,
        &__address {
            font-size: 12px;
        }
        &__copyright,
        &__by {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 576px) {
    .footer {
        &__inner {
            padding-top: 60px;
            position: relative;
            flex-direction: column-reverse;
        }
        &__logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 104px;
        }
        &__info {
            margin-top: 23px;
        }
        &__bottom {
            display: block;
        }
        &__by {
            margin-top: 8px;
        }
    }
}

@media screen and (max-width: 380px) {
    .footer {
        &__links {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }
}