@import "vars";
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &--dark {
        .header {
            &__inner {
                border-bottom: 1px solid rgba($black, .15)
            }
            &__logo {
                path,
                rect {
                    &:not(.header__logo-orange) {
                        fill: $black
                    }
                }
            }
            &__burger {
                span {
                    background-color: $black;
                }
                &--active {
                    span {
                        background-color: #fff;
                    }
                }
            }
        }
        .nav {
            color: $black;
        }
    }
    .container {
        // width: 100%;
    }
    &__inner {
        padding: 65px 0 41px;
        display: flex;
        align-items: flex-end;
        position: relative;
    }
    &__burger {
        z-index: 15;
        display: flex;
        align-items: center;
        align-self: flex-start;
        width: 34px;
        height: 24px;
        position: absolute;
        margin-right: 54px;
        left: -88px;
        top: 65px;
        span {
            height: 2px;
            width: 100%;
            display: block;
            background-color: #fff;
            transition: all .225s;
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
            }
            &:nth-child(3) {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &--active {
            span {
                &:nth-child(1) {
                    transform: translateY(11px) rotate(-45deg);
                }
                &:nth-child(2) {
                    transform: scale(0);
                }
                &:nth-child(3) {
                    transform: translateY(-11px) rotate(45deg);
                }
            }
            &~.menu {
                opacity: 1;
                pointer-events: unset;
            }
        }
    }
    &__logo {
        display: block;
        width: 151px;
        svg {
            width: 100%;
            height: auto;
        }
    }
    &__lang {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 50px;
        height: 53px;
        background-color: $primary;
        color: #fff;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 10;
        &:hover {
            color: #fff;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #fff;
    &__link {
        margin-left: 50px;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .06em;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 1px;
            background-color: $primary;
            left: 0;
            top: 100%;
            margin-top: 4.5px;
            opacity: 0;
        }
        &--active {
            font-weight: 700;
            &::before {
                opacity: 1;
            }
        }
    }
}

.menu {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #222;
    color: #fff;
    padding: 220px 0;
    opacity: 0;
    pointer-events: none;
    transition: all .225s;
    &__grid {
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 40px 30px;
    }
    &__link {
        font-size: 20px;
        font-weight: 500;
    }
}