<div class='container'>
    <div class='footer__inner'>
        <div class="footer__col">
            <div class="footer__logo">
                <img src="img/logo.svg" alt="">
            </div>
            <div class="footer__info">
                <a href="tel:+74959560077" class="footer__phone">+7 (495) 956-00-77</a>
                <div class="footer__address">Москва, ул. Авиационная д. 77.</div>
                <a href="mailto:info@dekra.ru" class="footer__mail">info@dekra.ru</a>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__links">
                <a href="" class="footer__link"> О компании</a>
                <a href="" class="footer__link"> Карьера</a>
                <a href="" class="footer__link"> Зеленое строительство</a>
                <a href="" class="footer__link"> Новости</a>
                <a href="" class="footer__link"> Портфолио</a>
                <a href="" class="footer__link"> Культура строительства</a>
                <a href="" class="footer__link"> Девелопмент</a>
                <a href="" class="footer__link"> Презентация и документы</a>
                <a href="" class="footer__link footer__link--active"> Команда</a>
                <a href="" class="footer__link"> Контакты</a>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__search search-field mfg">
                <input type="text" placeholder="Поиск по сайту">
                <button class="search-field__btn">
                    <svg id="search" xmlns="http://www.w3.org/2000/svg" width="22.004" height="22.003" viewBox="0 0 22.004 22.003">
                        <path id="Контур_148" data-name="Контур 148" d="M23.24,23.238a1.375,1.375,0,0,1,1.946,0l5.294,5.294a1.375,1.375,0,1,1-1.944,1.946l-5.294-5.294a1.375,1.375,0,0,1,0-1.946Z" transform="translate(-8.879 -8.878)" fill="#aaa" fill-rule="evenodd"/>
                        <path id="Контур_149" data-name="Контур 149" d="M8.939,16.5A7.564,7.564,0,1,0,1.375,8.939,7.564,7.564,0,0,0,8.939,16.5Zm8.939-7.564A8.939,8.939,0,1,1,8.939,0a8.939,8.939,0,0,1,8.939,8.939Z" fill="#aaa" fill-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="footer__copyright">© 1994 - 2022 г. АО «ДЕКРА КОНСТРАКШН»</div>
        <div class="footer__by">
            Разработка сайта <a href="">LogicStudio.Ru</a>
        </div>
    </div>
</div>