<div class="pagination">
    <a href="" class="pagination__btn pagination__btn--prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="41.058" height="25" viewBox="0 0 41.058 25">
            <g id="Group" transform="translate(0.058)">
              <rect id="rect81" width="41" height="25" fill="none"/>
              <path id="path83" d="M89.072-160H51" transform="translate(-48.998 172.708)" fill="none" stroke="#d66d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="1.5" fill-rule="evenodd"/>
              <path id="path85" d="M73-156.191,85.351-167" transform="translate(-71.997 169.001)" fill="none" stroke="#d66d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="1.5" fill-rule="evenodd"/>
              <path id="path87" d="M73-160l12.354,10.81" transform="translate(-71.997 172.606)" fill="none" stroke="#d66d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="1.5" fill-rule="evenodd"/>
            </g>
        </svg>
    </a>
    <a href="" class="pagination__item pagination__item--active">1</a>
    <a href="" class="pagination__item">2</a>
    <a href="" class="pagination__item">...</a>
    <a href="" class="pagination__item">5</a>
    <a href="" class="pagination__btn pagination__btn--next">
        <svg xmlns="http://www.w3.org/2000/svg" width="41.132" height="25" viewBox="0 0 41.132 25">
            <g id="Group" transform="translate(-9 0.228)">
              <rect id="rect81" width="41" height="25" transform="translate(9 -0.228)" fill="none"/>
              <path id="path83" d="M51-160H89.072" transform="translate(-40.998 172.518)" fill="none" stroke="#d66d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="1.5" fill-rule="evenodd"/>
              <path id="path85" d="M85.351-156.191,73-167" transform="translate(-36.277 168.811)" fill="none" stroke="#d66d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="1.5" fill-rule="evenodd"/>
              <path id="path87" d="M85.351-160,73-149.191" transform="translate(-36.277 172.416)" fill="none" stroke="#d66d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="79.84" stroke-width="1.5" fill-rule="evenodd"/>
            </g>
        </svg>
    </a>
</div>

<button class="pagination__more mbtn mbtn-gray">Показать еще</button>
