@import 'vars';
@import 'components/_text.scss';
@import 'components/_buttons.scss';
@import 'components/_fonts.scss';
.swiper {
    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        &-bullet {
            width: 14px;
            height: 3px;
            border-radius: 2px;
            background: #9F9C9C;
            margin: 0 5px !important;
            opacity: 1;
            &-active {
                background: $primary;
            }
        }
    }
}

.mfg {
    position: relative;
    margin: 0;
    width: 100%;
    select,
    input {
        border: none;
        border-bottom: 1px solid rgba(#A3A3A3, .5);
        padding: 18px 0;
        width: 100%;
        font-size: 18px;
        line-height: 166%;
        background-color: transparent;
        color: $black;
        &::placeholder {
            color: #999999;
        }
    }
    select {
        color: #999999;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        background-image: url(../img/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 6px center;
        &::-ms-expand {
            display: none;
        }
    }
    .selected {
        color: $black;
    }
}

.file-input {
    width: 210px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 11px;
    background-color: #F4F4F4;
    font-size: 14px;
    &:hover {
        background-color: darken(#f4f4f4, 5%);
    }
    svg {
        margin-right: 15px;
    }
    input {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}

.mcheck {
    position: relative;
    color: #707070;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../img/check.svg);
            }
        }
        &:disabled+label {
            color: #AAAAAA;
            pointer-events: none;
        }
    }
    label {
        padding-left: 30px;
        position: relative;
        min-height: 22px;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
        display: block;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            border: 1px solid #707070;
            width: 18px;
            height: 18px;
            left: 0;
            top: 3px;
        }
    }
    a {
        text-decoration: underline;
        position: relative;
        z-index: 3;
        &:hover {
            color: $primary;
        }
    }
}

.pagination {
    margin-top: 55px;
    display: flex;
    align-items: center;
    &__btn,
    &__item {
        height: 40px;
        min-width: 35px;
        border: 0.5px solid #D9D5D5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 6px;
        font-size: 18px;
        &:hover,
        &--active {
            background-color: $primary;
            border-color: $primary;
            color: #fff;
        }
    }
    &__btn {
        &--prev {
            margin-right: 42px;
        }
        &--next {
            margin-left: 42px;
        }
        &:hover {
            path {
                stroke: #fff;
            }
        }
    }
    &__item {
        margin: 0 5px;
        &--active {
            pointer-events: none;
        }
    }
}

.slideToggle-block {
    &__hidden {
        height: 0;
        overflow: hidden;
        transition: all .425s;
    }
}